{% extends "controller/base.html" %}
{% load static %}

{% block home_active %}
    active" aria-current="page
{% endblock home_active %}


{% block heading %}
    Home
{% endblock heading %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            {% if image_list %}
            {{ image_list.0.path }}
            <img src="{{ image_list.0.path }}" class="img-fluid" alt="">

            {% else %}
                <img src="{% static 'controller/GOPR4764.JPG'%}" class="img-fluid" alt="">
            {% endif %}
        </div>
        <div class="col-sm">
            {% if gopro.connected %}
                <p><b>Connected</b> <i></i></p>
                <p>battery: {{ status.battery }}</p>
                <br>
                <p>photos taken {{ status.photos_taken }}</p>
                <br>
                <p>etc...</p>
                <form id="timelapseActionForm" action="{% url "controller:timelapse_"|add:timelapse_action %}" method="post">
									{% csrf_token %}
									<button class="btn btn-primary btn-sm" id="timelapseActionButton" type="submit">
										<span class="timelapse-button-text">{{ timelapse_action|capfirst }}</span>
										<span class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
									</button>
                </form>
            {% else %}
                <p>Not Connected:</p>
                <form id = "connectForm" action="{% url 'controller:connect' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary btn-sm" id="submitButton" type="submit">
                        <span class="button-text">Connect</span>
                        <span class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Capture date</th><th>Name</th><th>Size (b)</th>
        </tr>
        {% if image_list %}
            {% for image in image_list %}
                <tr>
                    <td>{{ image.date_time | date:"G:i:s d-m-Y"}}</td>
                    <td>{{ image.name }}</td>
                    {% comment %} <td>{{ image.path }}</td> {% endcomment %}
                    <td>{{ image.size }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <h3>Taken picture will appear here</h3>
            <p>Start taking pictures to begin</p>
        {% endif %}
    </table>

    <script>
			{% if gopro.connected is False %}
				document.getElementById("connectForm").addEventListener("submit", function(){
					var submitButton = document.getElementById("submitButton");
					var buttonText = submitButton.querySelector("span.button-text");

					submitButton.querySelector("span.spinner-border").classList.remove("d-none");
					submitButton.querySelector("span.button-text").innerHTML = "Connecting...";
					submitButton.disabled = true;
				});
			{% endif %}
			document.getElementById("timelapseActionForm").addEventListener("submit", function(){
				var submitButton = document.getElementById("timelapseActionButton");
				var buttonText = submitButton.querySelector("span.timelapse-button-text");

				if (buttonText.innerHTML.trim() === "Stop") {
					submitButton.querySelector("span.spinner-border").classList.remove("d-none");
					buttonText.innerHTML = "Stopping...";
					submitButton.disabled = true;
				}
      });
    </script>
{% endblock content %}

